body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 180px;
}

video {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.logo {
  position: fixed;         /* fix pozíció az oldalhoz képest */
  bottom: 10px;            /* 10px-re az aljától */
  left: 10px;              /* 10px-re a bal szélétől */
  width: 100px;            /* méret */
  opacity: 0.08;           /* halvány hatás */
  pointer-events: none;    /* ne lehessen rákattintani */
  user-select: none;       /* ne lehessen kijelölni */
}

